body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
    width: 100%;
    height: 100%;

    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
    background-color: #fff;
}


#main{

}
#title{

}
#img-div{

}
#image{

}
#img-caption{

}
#tribute-info{

}
#tribute-link{

}